.home-container{
    text-align: center;
}
.home-btn{
    width: 100px;
}
.home-btn:hover{
    transform: scale(1.1);
    transition: 1s;
}
.home-form{
    width: 400px;
    height: 350px;
}
.home-item{
    margin-top: 60px;
}
.home-input{
    margin-left: 20px;
    width: 344px;
}
.home-input-a{
    margin-left: 10px;
    width: 344px;
}
.home-item-a{
    margin-top: 60px;
}
.home-btn-a{
    width: 344px;
    margin-left: -78px;
    margin-top: 50px;
}
